html, body {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #1C1F22;
}

header {
    background-color: #04070B;
    width: 100%;
    position: relative;
}

#fear-image {
    width: 25%;
    height: auto;
    margin: 0;
    display: inline-block;
}

#author {
    padding-left: 20px;
    text-align: left;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    position: absolute;
    bottom: 10%;
}

section {
    margin: 2% 25%;
    padding: 20px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

#about-author {
    text-align: right;
    text-decoration: none;
}

a:link {
    color: antiquewhite;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}

footer {
    color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 2%;
    left: 50%;
}