html, body {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #1C1F22;
}

header {
    background-color: #04070B;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#fear-image {
    width: 25%;
    margin: 0;
    display: inline-block;
}

#author {
    padding-left: 20px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    bottom: 10%;
}

section {
    margin: 15% 25% 15% 25%;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    position: relative;
}

#about-author {
    text-align: right;
    text-decoration: none;
}

a:link {
    color: antiquewhite;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}

footer {
    color: antiquewhite;
    background-color: #04070B;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    #author {
        font-size: 15px;
    }
}