body {
  background-color: black;
  color: white;
  font-family: 'Consolas', sans-serif;
  font-size: 14px;
}
  
header {
  text-align: center;
  background-color: black;
  color: darkcyan;
  position: fixed;
  padding: 15px;
  top: 0px;
  width: 100%;
  margin-top: 0px;
  font-size: 25px;
  }

.nav-link {
  padding: 10px;
  text-decoration: none;
}

.display-and-positioning {
  word-spacing: -7.5px;
}
  
.nav-link:visited {
  color: darkcyan;
}
  
a.nav-link:hover {
  color: greenyellow;
}

img {
  display: block;
  margin: 70px auto 0px auto;
}

.image-source {
  text-align: center;
}

a {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}
  
a:hover {
  color: greenyellow;
}

#margin-collapse {
  margin: 0px auto;
}
  
table {
  text-align: center;
  margin: 40px auto;
}

.tab-title {
  color: gray;
  font-size: 16px;
}

  th {
    border: 1px dotted  darkcyan;
  }
  
  td {
    border: 1px dotted darkcyan;
    text-align: left;
    width: 400px;
    padding: 5px 0 5px 0;
  }
  

  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  
  
  .left {
    width: 320px;
  }

  .command {
    color: yellow;
  }
  
  span {
    color: gray;
  }

  p {
    padding: 5px;
  }

  footer {
    text-align: center;
    color: greenyellow;
  }